<nav class="flex justify-between">
  <div class="flex items-center gap-2">
    <%= link_to "Password Manager", root_path, class: "no-underline text-xl text-red-500 font-bold" %>
  </div>
  <ul class="list-none flex items-center gap-2">
    <% if user_signed_in? %>
      <li><%= link_to current_user.email, edit_user_registration_path %></li>
      <li><%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn-primary" %></li>
    <% else %>
      <li><%= link_to "Login", new_user_session_path, class: "btn-primary no-underline" %></li>
      <li><%= link_to "Sign Up", new_user_registration_path, class: "btn-primary no-underline" %></li>
    <% end %>
  </ul>
</nav>