<div class="flex justify-between items-center">
  <%= link_to "â† Back to all links", root_path, class: "no-underline text-sm px-3 py-2 rounded bg-gray-100" %>
  <div class="flex items-center gap-4">
    <%= tag.div pluralize(@link.views_count, "view") %>
    <%= link_to "Edit", edit_link_path(@link), class: "no-underline text-sm px-3 py-2 rounded bg-gray-100" %>
  </div>
</div>

<h1 class="mt-4"><%= @link.url %></h1>
<%= @link.description %>

<%= line_chart @link.views.group_by_day(
        :created_at, 
        range: 1.months.ago..Time.now, 
        expand_range: true
      ).count 
%>