<div class="flex justify-between items-center">
  <%= link_to "â† Back to all links", root_path, class: "no-underline text-sm px-3 py-2 rounded bg-gray-100" %>
  <div class="flex items-center gap-4">
    <%= tag.div pluralize(@link.views_count, "view") %>
    <%= link_to "Edit", edit_link_path(@link), class: "no-underline text-sm px-3 py-2 rounded bg-gray-100" %>
    <%= button_tag "Copy", class: "no-underline text-sm px-3 py-2 rounded bg-gray-100", 
          data: {controller: "clipboard", clipboard_text: view_url(@link)} do %>
      <%= render "shared/svg/copy" %>
    <% end %>
  </div>
</div>

<h1 class="mt-4"><%= @link.title || @link.url %></h1>
<%= tag.div @link.description %>
<%= link_to view_path(@link), target: :_blank, data: {turbo: false}, class: "no-underline p-2 bg-gray-100 items-center" do %>
  <%= favicon_image_tag @link.domain, class: "inline-block" %>
  <%= truncate @link.url %>
  <%= render "shared/svg/external" %>
<% end %>

<%= line_chart @link.views.group_by_day(
        :created_at, 
        range: 1.months.ago..Time.now, 
        expand_range: true
      ).count 
%>