<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="prose mx-auto mt-28 px-5">
    <p class="notice bg-orange-200"><%= notice %></p>
    <p class="alert bg-orange-200"><%= alert %></p>
    
    <div class="grid py-4 justify-items-end">
      <% if user_signed_in? %>
        <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "underline font-semibold" %>
      <% else %>
        <%= link_to "Log in", new_user_session_path %>
      <% end %>
    </div>
    
    <%= yield %>
    
  </body>
</html>
