<%= link_to "â† Back", root_path, class: "block mb-4 no-underline text-blue-600" %>
<div class="flex justfy-between items-center">
  <h1>
    <%= @password.url %>
    <%= link_to @password.url, target: :_blank do %>
      <svg class="inline-block text-blue-500 w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
      </svg>
    <% end %>
  </h1>
  <%= link_to "Edit", edit_password_path %>
</div>

<h4>Credentials</h4>
<h6>Username / Email</h6>
<div class="flex items-center gap-1">
  <pre class="my-0 flex-grow"><code></code><%= @password.username %></pre>
  <%= button_tag "Copy", class: "px-2 py-1 bg-gray-200 rounded", 
    data: {
      controller: "clipboard", 
      action: "click->clipboard#copy", 
      clipboard_content_value: @password.username
    } 
  %>
</div>
<h6>Password</h6>
<div class="flex items-center gap-1">
  <pre class="my-0 flex-grow"><code></code><%= @password.password %></pre>
  <%= button_tag "Copy", class: "px-2 py-1 bg-gray-200 rounded", 
    data: {
      controller: "clipboard", 
      action: "click->clipboard#copy", 
      clipboard_content_value: @password.password
    } 
  %>
</div>

<h4>Share</h4>
<%= link_to "Add a user", new_password_shares_path(@password) %>
<div class="flex flex-col gap-1 divide-y divide-gray-200">
  <% @password.users.excluding(current_user).each do |user| %>
    <div class="flex justify-between items-center">
      <div><%= user.email %></div>
      <%= button_to "Remove", 
            password_shares_path(@password), 
            method: :delete, 
            params: {user_id: user},
            data: {turbo_confirm: "Are you sure?" },
            class: "px-2 py-1 bg-gray-200 rounded" 
      %>
    </div>
  <% end %>
</div>